#contenedor{
	width: 600px;
	min-height:600px;
	margin: 0 auto;
}
#cabezera{
	width: 655px;
	height:70px;
	float: left;
	clear: both;
}
#titulo{
	width: 370px;
	height:70px;
	float: left;
	clear: both;
}
#contenido{
	width: 600px;
	min-height:460px;
	float: left;
	clear: both;
}
#loguin{
	width: 400px;
	height: 400px;
	margin: 80px auto;
}
#loguin #boton{
	margin-left: 160px;
}
#papa{
	width: 600px;
	height: 300px;
}
#hijo1{
	width: 400px;
	height: 300px;
	float: left;
}
#nieto1{
	width: 400px;
	height: 200px;
}
#nieto2{
	width: 400px;
	height: 100px;
	
}
#hijo2{
	width: 200px;
	height: 300px;
	float: left;
}
#uno{
	width: 200px;
	height: 200px;
	float: left;
}
#uno_1{
	width: 100px;
	height: 200px;
	float: left;
}
#uno_2{
	width: 100px;
	height: 200px;
	float: left;
}
#dos{
	width: 200px;
	height: 200px;
	float: left;
}
#tres{
	width: 200px;
	height: 300px;
	float: left;
}
#cuatro{
	width: 399px;
	height: 100px;
	float: left;
}
#pie{
	width: 600px;
	height:30px;
	float: left;
	clear: both;
}

table{ 
	border: 1px solid;
	margin-left: 35px;
	}
h1{ margin-left: 20px;}
h3{ margin-left: 30px;}
p{margin-left: 35px;}

.centrado{ text-align: center;}
.derecha{text-align: right;}


#cssmenu {
  display: inline-block;
  height:40px;
  position: relative;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#cssmenu ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#cssmenu ul li {
  background: #1F1F1F linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0) 50%);
  transition: 0.2s;
}
#cssmenu ul li:first-child {
  border-radius: 8px 0 0 8px;
}
#cssmenu ul li:first-child a {
  margin-left: 0;
  padding-left: 25px;
}
#cssmenu ul li:last-child {
  border-radius: 0 8px 8px 0;
}
#cssmenu ul li:last-child a {
  padding-right: 25px;
}
#cssmenu ul li:last-child a:before {
  display: none;
}
#cssmenu ul li:hover {
  background-color: #525252;
}
#cssmenu ul li:hover a {
  color: #fff;
}
#cssmenu ul li:hover a:before {
  background-color: #525252;
}
#cssmenu ul li.active {
  background-color: #D65B00;
}
#cssmenu ul li.active a {
  color: #333;
}
#cssmenu ul li.active a:before {
  background-color: #D65B00;
}
#cssmenu ul li a {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  min-height: 100%;
  padding: 12px 12px 12px 28px;
  margin-left: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.2s;
}
#cssmenu ul li a:before {
  content: '';
  position: absolute;
  right: -25px;
  top: 40%;
  width: 50px;
  height: 50px;
  background-color: #1F1F1F;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transform: translateY(-50%) scaleX(0.5) rotate(45deg);
  -ms-transform: translateY(-50%) scaleX(0.5) rotate(45deg);
  transform: translateY(-50%) scaleX(0.5) rotate(45deg);
  transition: 0.2s;
}
#cssmenu ul li a span {
  position: relative;
  z-index: 1;
}
#cssmenu ul li a i {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
